<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Roboto:wght@100;300;400&family=Ubuntu:wght@500&display=swap"
        rel="stylesheet">

<body>
    <div id="wrap">
        <div id="header_wrap">
            <div id="header">
                <ul id="gnb">
                    <li class="on"><a href="/">HOME</a></li>
                    <li><a href="/board/list">BOARD</a></li>
                    <li><img src="https://i.ibb.co/RTjgWsX/imageedit-22-4204026569.png" alt="logo" width="100%" /></li>
                    {% if token %}
                    <li style="color: darkorange;">{{ token }}님</a></li>
                    <li><a href="/join/logout">LOGOUT</a></li>
                    {% else %}
                    <li><a href="/join/login">LOGIN</a></li>
                    <li><a href="/join/join">JOIN</a></li>
                    {% endif %}
                    <div id="snb">
                        <input type="checkbox" id="menu_icon" />
                        <label for="menu_icon">
                            <!--label은 inline style-->
                            <span></span>
                            <span></span>
                            <span></span>
                        </label>
                        <div id="hamburger_menu">
                            <ul>
                                <li><a href="/join/profile">PROFILE</a></li>
                                <li><a href="#">ADMIN</a></li>
                                <li><a href="#">CONTACT</a></li>
                            </ul>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
        <div id="intro_wrap">
            <div id="intro">
                <div id="intro_text">
                    <h2>환영합니다</h2>
                    <span class="text1">여기는 KGA 블록체인 8기,<br></span>
                    <span class="text2">KCH</span>
                    <p><span>팀 올드보이즈</span>입니다</p>
                </div>
                <div id="intro_visual">
                    <!-- <img src="https://cdn-icons-png.flaticon.com/512/2091/2091665.png" alt=""> -->
                    <img src="https://img.icons8.com/nolan/512/blockchain.png" alt="">
                </div>
            </div>
        </div>
        <div id="visual_wrap">
            <div id="visual">
                <div id="slideSpace">
                    <div id="slidePart">
                        <div id="slideShow">
                            <ul class="slides">
                                <li>
                                    <img src="https://s39927.pcdn.co/wp-content/uploads/presentations/1WvmeRM5hrgLf2EDfIKM6doVb51wjsVVC9HwPd1X2xvU/10_1400.jpg.webp"
                                        alt="slide1" />
                                </li>
                                <li>
                                    <img src="https://s39927.pcdn.co/wp-content/uploads/presentations/1WvmeRM5hrgLf2EDfIKM6doVb51wjsVVC9HwPd1X2xvU/14_1400.jpg.webp"
                                        alt="slide2" />
                                </li>
                                <li>
                                    <img src="https://s39927.pcdn.co/wp-content/uploads/presentations/1WvmeRM5hrgLf2EDfIKM6doVb51wjsVVC9HwPd1X2xvU/19_1400.jpg.webp"
                                        alt="slide3" />
                                </li>
                                <li>
                                    <img src="https://s39927.pcdn.co/wp-content/uploads/presentations/1WvmeRM5hrgLf2EDfIKM6doVb51wjsVVC9HwPd1X2xvU/21_1400.jpg.webp"
                                        alt="slide4" />
                                </li>
                                <li>
                                    <img src="https://s39927.pcdn.co/wp-content/uploads/presentations/1WvmeRM5hrgLf2EDfIKM6doVb51wjsVVC9HwPd1X2xvU/22_1400.jpg.webp"
                                        alt="slide5" />
                                </li>
                            </ul>
                            <div class="controller">
                                <span class="prev">＜</span>
                                <span class="next">＞</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="about_wrap">
            <div id="about">
                <h2 class="title T1">
                    about<br>Us
                </h2>
                <span></span>
                <div id="team_info">
                    <ul>
                        <li>
                            <img src="https://kgablockchain.com/wp-content/uploads/2022/09/KakaoTalk_20220211_115642140.png"
                                alt="">
                            <p>블록체인 8기 <span>황상범</span></p>
                            <img src="https://kgablockchain.com/wp-content/uploads/2022/09/%EB%8B%A4%EA%B0%81%ED%98%95-8.png"
                                alt="">
                            <div>
                            </div>
                        </li>
                        <li>
                            <img src="https://pbs.twimg.com/media/E-Z5-rXVQAMHL-S.png:small" width="210px"
                                height="210px" alt="">
                            <p>블록체인 8기 <span>최현웅</span></p>
                            <img src="https://kgablockchain.com/wp-content/uploads/2022/09/%EB%8B%A4%EA%B0%81%ED%98%95-8.png"
                                alt="">
                            <div>
                            </div>
                        </li>
                        <li>
                            <img src="https://images.velog.io/images/chang626/post/c9533c4f-adbb-4411-bce4-b09293d64fbf/A03EACB4-4DFA-439A-A3FE-084635A89FE6.png"
                                width="210px" height="210px" alt="">
                            <p>블록체인 8기 <span>김주형</span></p>
                            <img src="https://kgablockchain.com/wp-content/uploads/2022/09/%EB%8B%A4%EA%B0%81%ED%98%95-8.png"
                                alt="">
                            <div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="footer_wrap">
            <div id="footer">
                <ul>
                    <li>
                        <a class="team_ob" href="#">TEAM Old Boys</a>
                    </li>
                    <li>
                        <a class="team_ob" href="#">Joo Hyung Kim</a>
                    </li>
                    <li>
                        <a class="team_ob" href="#">Hyung Uoong Choi</a>
                    </li>
                    <li>
                        <a class="team_ob" href="#">Sang Beom Hwang</a>
                    </li>
                    <li>
                        <a class="personal" href="#">행복하자 우리</a>
                    </li>
                </ul>
                <div id="footer_info">
                    <h1 id="footer_logo">
                        <img src="https://i.ibb.co/8KhmKPr/team-logo.png" alt="footer_logo" />
                    </h1>
                    <div id="team_info">
                        <p>https://github.com/sangbeomhwang/board_old_boys.git</p>
                        <p>
                            1번 뇌섹남 : 김주형 / 2번 뇌섹남 : 최현웅 / 3번 뇌섹남 : 황상범
                        </p>
                        <p>TEAM Old Boys</p>
                        <p class="copyright">
                            Copyright © 2022. Kyungil Technical College. All rights
                            reserved.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/home.js"></script>
</body>

</html>