<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="visual">
        <ul id="slide">
            <li><img src="http://www.kiweb.or.kr/nBoard/upload/file/main/1663647850_20800_1.jpg" /></li>
            <li><img src="http://www.kiweb.or.kr/nBoard/upload/file/main/1661838462_26399_1.png" /></li>
            <li><img src="http://www.kiweb.or.kr/nBoard/upload/file/main/1661838619_28666_1.png" /></li>
            <li><img src="http://www.kiweb.or.kr/nBoard/upload/file/main/1669797939_47868_1.jpg" /></li>
        </ul>
    </div>
    <ul id="slideBtn">
        <li id="btn1"><button>버튼1</button></li>
        <li id="btn2"><button>버튼2</button></li>
        <li id="btn3"><button>버튼3</button></li>
        <li id="btn4"><button>버튼4</button></li>
    </ul>
    <ul>
        <li class="prev"><button>이전</button></li>
        <li class="next"><button>다음</button></li>
    </ul>
    <!-- <script src="/js/main.js"></script> -->
    <script src="../../public/js/main.js"></script>
</body>
</html>