<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="/css/list.css" />
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/footer.css">
</head>

<body>
  <div id="wrap">
    <div id="header_wrap">
      <div id="header">
        <ul id="gnb">
          <li class="on"><a href="/">HOME</a></li>
          <li><a href="/board/list">BOARD</a></li>
          <li><img src="https://i.ibb.co/RTjgWsX/imageedit-22-4204026569.png" alt="logo" width="100%" /></li>
          {% if token %}
          <li style="color: darkorange;">{{ token }}님</a></li>
          <li><a href="/join/logout">LOGOUT</a></li>
          {% else %}
          <li><a href="/join/login">LOGIN</a></li>
          <li><a href="/join/join">JOIN</a></li>
          {% endif %}
          <div id="snb">
            <input type="checkbox" id="menu_icon" />
            <label for="menu_icon">
              <!--label은 inline style-->
              <span></span>
              <span></span>
              <span></span>
            </label>
            <div id="hamburger_menu">
              <ul>
                <li><a href="#">PROFILE</a></li>
                <li><a href="#">ADMIN</a></li>
                <li><a href="#">CONTACT</a></li>
              </ul>
            </div>
          </div>
        </ul>
      </div>
    </div>

    <table>
      <thead>
        <tr>
          <td class="th index">번호</td>
          <td class="th subject">제목</td>
          <td class="th writer">글쓴이</td>
          <td class="th date">등록일</td>
          <td class="th hit">조회수</td>
        </tr>
      </thead>
      <tbody>
        {% for item in list %}
        <tr>
          <td>{{item.idx}}</td>
          <td>
            <a href="/board/view?index={{item.idx}}">{{item.subject}}</a>
          </td>
          <td>{{item.writer}}</td>
          <td>{{item.register_date}}</td>
          <td>{{item.hit}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div id="btnBox">
      <p>
        현재 <span class="total_article">{{ list.length }}</span>개의 글이
        있습니다
      </p>
      <p style="display: none">
        <span class="search_result">{{ list.length }}개의 검색결과</span>
      </p>
      <div class="pageMove prev"><button>＜</button></div>
      <ul class="paging"></ul>
      <div class="pageMove next"><button>＞</button></div>
      <div class="goWrite">
        {% if token %}
        <button><a href="/board/write">글쓰기</a></button>
        {% endif %}
      </div>
    </div>
    <div id="searchBox">
      <form action="/board/list" method="get">
        <div>
          <select name="searchType" id="searchType">
            <option value="writer">글쓴이</option>
            <option value="subject">제목</option>
            <option value="content">내용</option>
            <input name="search" type="text" />
          </select>
          <button type="submit"><img
              src="https://www.think-lab.com/ko/wp_2021/wp-content/themes/think-lab2021/img/search.png" width=14px
              alt=""></button>
        </div>
        <p style="opacity: 0">검색어는 2자 이상 입력해주세요</p>
      </form>
    </div>

    <div id="footer_wrap">
      <div id="footer">
        <ul>
          <li>
            <a class="team_ob" href="#">TEAM Old Boys</a>
          </li>
          <li>
            <a class="team_ob" href="#">Joo Hyung Kim</a>
          </li>
          <li>
            <a class="team_ob" href="#">Hyung Uoong Choi</a>
          </li>
          <li>
            <a class="team_ob" href="#">Sang Beom Hwang</a>
          </li>
          <li>
            <a class="personal" href="#">행복하자 우리</a>
          </li>
        </ul>
        <div id="footer_info">
          <h1 id="footer_logo">
            <img src="https://i.ibb.co/8KhmKPr/team-logo.png" alt="footer_logo" />
          </h1>
          <div id="team_info">
            <p>https://github.com/sangbeomhwang/board_old_boys.git</p>
            <p>
              1번 뇌섹남 : 김주형 / 2번 뇌섹남 : 최현웅 / 3번 뇌섹남 : 황상범
            </p>
            <p>TEAM Old Boys</p>
            <p class="copyright">
              Copyright © 2022. Kyungil Technical College. All rights
              reserved.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/js/list.js"></script>
</body>

</html>