<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>:: Old_Boys 로그인 ::</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div id="wrap">
        <div id="logo">
            <a href="/">
                <img src="https://i.ibb.co/MpWgbfY/team-logo.png" id="logoimg">
            </a>
        </div>
        <form method="post" action="/join/login" id="login">
            <div id="loginidpw">
                <div id="loginid" class="form_area">
                    <span id="inputbox" class="box">
                        <input class ="inbox" type="text" name="user_id" id="id" placeholder="ID">
                    </span>
                </div>
                <div id="loginpw" class="form_area">
                    <span id="inputbox"  class="box">
                        <input class ="inbox" type="password" name="user_pw" placeholder="Password">
                    </span>
                </div>
                <div id="loginbtnalert" class="form_area">
                    <span id="alert">아이디와 비밀번호를 다시확인해주세요</span>    
                    <button type="submit" class="btn">로그인</button>
                </div>
                <div class="form_area2">
                    <a href="#" style="margin-right: 20px;">아이디 찾기</a>
                    <a href="#">비밀번호 찾기</a>
                </div>
            </div>
        </form>
        <div id="footer_wrap">
        <div id="footer">
          <ul>
            <li>
              <a class="team_ob" href="#">TEAM : old boys</a>
            </li>
            <li>
              <a class="team_ob" href="#">Joo Hyung Kim</a>
            </li>
            <li>
              <a class="team_ob" href="#">Hyung Uoong Choi</a>
            </li>
            <li>
              <a class="team_ob" href="#">Sang Beom Hwang</a>
            </li>
            <li>
              <a class="personal" href="#">행복하자 우리</a>
            </li>
          </ul>
          <div id="footer_info">
            <h1 id="footer_logo">
              <img
                src="https://i.ibb.co/MpWgbfY/team-logo.png"
                alt="footer_logo"
              />
            </h1>
            <div id="team_info">
              <p>https://github.com/sangbeomhwang/board_old_boys.git</p>
              <p>
                1번 뇌섹남 : 김주형 / 2번 뇌섹남 : 최현웅 / 3번 뇌섹남 : 황상범
              </p>
              <p>old boys</p>
              <p class="copyright">
                Copyright © 2022. Kyungil Technical College. All rights
                reserved.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
</html>