<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>::Old_Boys 환영합니다! ::</title>
    <link rel="stylesheet" href="/css/welcome.css" />
  </head>
  <body>
    <div>
      <div id="logo">
        <a href="/">
          <img
            src="https://i.ibb.co/RTjgWsX/imageedit-22-4204026569.png"
            id="logoimg"
          />
        </a>
      </div>
      <div id="welcome">
        <h2>{{token}}님, 환영합니다</h2>
      </div>
      <form method="post" action="/join/welcome">
        <div id="nav">
          <button>
            <a href="/">홈페이지로 이동하기</a>
          </button>
          <button><a href="/board/list">게시판으로 이동하기</a></button>
          <button><a href="/join/profile">회원정보 수정하기</a></button>
        </div>
      </form>
    </div>
    <div id="footer_wrap">
      <div id="footer">
        <ul>
          <li>
            <a class="team_ob" href="#">TEAM : old boys</a>
          </li>
          <li>
            <a class="team_ob" href="#">Joo Hyung Kim</a>
          </li>
          <li>
            <a class="team_ob" href="#">Hyung Uoong Choi</a>
          </li>
          <li>
            <a class="team_ob" href="#">Sang Beom Hwang</a>
          </li>
          <li>
            <a class="personal" href="#">행복하자 우리</a>
          </li>
        </ul>
        <div id="footer_info">
          <h1 id="footer_logo">
            <img
              src="https://i.ibb.co/MpWgbfY/team-logo.png"
              alt="footer_logo"
            />
          </h1>
          <div id="team_info">
            <p>https://github.com/sangbeomhwang/board_old_boys.git</p>
            <p>
              1번 뇌섹남 : 김주형 / 2번 뇌섹남 : 최현웅 / 3번 뇌섹남 : 황상범
            </p>
            <p>old boys</p>
            <p class="copyright">
              Copyright © 2022. Kyungil Technical College. All rights reserved.
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
